<!-- Just an image -->
<nav class="navbar navbar-dark bg-dark">
      <img style="cursor: pointer;" (click)="home()" src="../../assets/Orangelogo.png" width="50" height="50" alt="">
      <div class="ml-3 relative">
            <div>
                <button (click)="showMenu()" type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" >
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full" src="../../assets/login-default-avatar-svg-png-icon-free-download-258083.jpg" alt="">
                </button>
               
        </div>

       
        <div *ngIf="ShowUserMenu==true" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
          <!-- Active: "bg-gray-100", Not Active: "" -->
          <a (click)="goTo('/profil')"  class="btn block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Profil</a>
          <a (click)="goTo('/login')" class="btn block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Deconnexion</a>
        </div>
      </div>

  </nav>
  